@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 500px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

::-webkit-scrollbar {
  background: #fff;
  height: 9px;
  width: 10px;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 6px;
}

.filter-input {
  -webkit-appearance: none;
  height: 5px;
  background: #3333331a;
  border-radius: 5px;
}

.filter-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  background: #952525;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
}
